= simple_form_for(@user, :url => user_account_path(@user), html: {class: 'form-horizontal', :multipart => true, :method => :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :user_name, required: false , autofocus: true
    = f.input :email, required: false
    .control-group.optional.pending-reconfirmation
      %label.optional.pending-reconfirmation.control-label{for: 'pending-reconfirmation'}
        Reconfirmation
      .controls
        %span#pending-reconfirmation
          - if @user.pending_reconfirmation?
            Currently waiting confirmation for: #{@user.unconfirmed_email}
            = f.button :submit, 'Resend Confirmation'
          - else
            User's email is confirmed.
    = f.input :password, autocomplete: 'off', required: false
    .control-group.optional.confirmed
      %label.optional.confirmed.control-label{for: 'confirmed'}
        Confirmed
      .controls
        %span#confirmed
          - if @user.confirmed?
            Confirmed
            = f.button :submit, 'Remove Confirmation'
          - else
            Not Confirmed
            = f.button :submit, 'Confirm User'
    - [:confirmed_at,:reset_password_sent_at, :remember_created_at, :sign_in_count,
    :current_sign_in_at, :last_sign_in_at, :current_sign_in_ip, :last_sign_in_ip,
    :confirmation_sent_at, :failed_attempts,:locked_at, :created_at, :updated_at,
    :roles_mask, :image_updated_at, :tzinfo_tz, :rails_tz].each do |item|
      = render partial: "user_accounts/static_info", locals: {user_attribute_name: item, user: @user}
    .control_group
      = f.label :image
      .controls
        - unless @user.image_file_name.blank?
          = image_tag @user.image.url(:span1)
        = f.file_field :image
  .form-actions
    = f.button :submit
