- content_for :meta_title, "Annotations by #{@user.user_name}"
- content_for(:page_title) do
  Annotations
  %small
    by
    = image_tag @user.image.url(:spanhalf), alt: @user.user_name
    = @user.user_name

= render partial: 'shared/sidebar_user'

- if @user_annotations.empty?
  = 'No annotations created.'
- else
  = page_entries_info @user_annotations
  = will_paginate @user_annotations, renderer: BawWillPaginateLinkRenderer

  %table.table.table-striped.table-hover

    %tr
      %th
        %i.fa.fa-map-marker
        Site
      %th
        %i.fa.fa-clock-o
        Duration
      %th
        %i.fa.fa-calendar
        Annotation Date
      %th
        %i.fa.fa-tags
        Tags

    - @user_annotations.each do |audio_event|
      - if !audio_event.blank?
        - audio_recording_exists = !audio_event.audio_recording.blank?
        - listen_link = make_listen_path(audio_event)
        - library_link = make_library_path(audio_event)
        - audio_event_duration = audio_event.end_time_seconds - audio_event.start_time_seconds
        - site_name = audio_event.audio_recording.site.name
        - tags = audio_event.tags.order(:type_of_tag, :text).select(:text).to_a.map{ |item| item.text}.join(', ')

        %tr
          - if audio_recording_exists
            - start_time = audio_event.audio_recording.recorded_date.advance(seconds: audio_event.start_time_seconds)
            %td= link_to site_name, listen_link, target: '_self'
            %td= link_to audio_event_duration, library_link, target: '_self'
            %td= format_sidebar_datetime(start_time)
          - else
            %td= site_name
            %td= audio_event_duration
            %td (unknown)

          %td=tags