
= image_tag @user.image.url(:span3), class: 'span3'

.span9
  %h1= @user.user_name

.span12
  %h3 Annotation Comments

  - if @user_audio_event_comments.empty?
    = 'No annotation comments to show.'
  - else
    = page_entries_info @user_audio_event_comments
    = will_paginate @user_audio_event_comments, renderer: BawWillPaginateLinkRenderer

    %table.table.table-striped(data-provides='rowlink')
      %thead
        %tr
          %th Comment
          %th Annotation Comment Count
          %th

      %tbody
      - @user_audio_event_comments.each do |aec|
        %tr
          %td= link_to aec.comment, make_library_path(aec.audio_event)
          %td= AudioEventComment.where(audio_event_id: aec.audio_event_id).count
          %td.nolink
            = link_to make_library_path(aec.audio_event), class: 'btn btn-mini' do
              %i{class: 'fa fa-flag'}
              Annotation
            = link_to make_listen_path(aec.audio_event), class: 'btn btn-mini' do
              %i{class: 'fa fa-play'}
              Play

- content_for :title, "Comments by #{@user.user_name}"

- content_for :left_sidebar do
  = render partial: 'sidebar_links'