- content_for :meta_title, "Annotation Comments by #{@user.user_name}"
- content_for(:page_title) do
  Annotation Comments
  %small
    by
    = image_tag @user.image.url(:spanhalf), alt: @user.user_name
    = @user.user_name

= render partial: 'shared/sidebar_user'

- if @user_audio_event_comments.empty?
  No annotation comments to show.
- else
  = page_entries_info @user_audio_event_comments
  = will_paginate @user_audio_event_comments, renderer: BawWillPaginateLinkRenderer

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          %i.fa.fa-map-marker
          Site
        %th
          %i.fa.fa-bullseye
          Annotation
        %th
          %i.fa.fa-comment
          Comment

    %tbody
    - @user_audio_event_comments.each do |aec|
      - if !aec.blank?
        - listen_link = make_listen_path(aec.audio_event)
        - library_link = make_library_path(aec.audio_event)
        - site_name = aec.audio_event.audio_recording.site.name
      %tr
        %td= link_to site_name, listen_link
        %td= link_to aec.audio_event.id, library_link
        %td= aec.comment