- content_for :meta_title, "Bookmarks created by #{@user.user_name}"
- content_for(:page_title) do
  Bookmarks
  %small
    by
    = image_tag @user.image.url(:spanhalf), alt: @user.user_name
    = @user.user_name

= render partial: 'shared/sidebar_user'

.col-sm-12
  - if @user_bookmarks.empty?
    = 'No bookmarks to show.'
  - else
    %p= page_entries_info @user_bookmarks
    = paginate @user_bookmarks

    %table.table.table-striped.table-hover
      %thead
        %tr
          %th
            %span.fa.fa-bookmark{aria: {hidden: 'true' }}
            Name
          %th Category
          %th Description

      %tbody
      - @user_bookmarks.each do |bookmark|
        %tr
          %td= link_to bookmark.name, make_listen_path(bookmark)
          %td= bookmark.category
          %td= bookmark.description