- content_for :title, 'User List'

= render partial: 'shared/admin/sidebar_home'

- content_for :right_sidebar do
  = render partial: 'shared/sidebar_metadata_heading', locals: {title: 'Admin', icon: 'cog'}

.col-sm-12
  .row
    .col-sm-6
      %p= page_entries_info @users

  .row
    .col-sm-12
      = paginate  @users

%table.table.table-striped.table-hover
  %thead
    %tr
      %th
        %span.fa.fa-user{aria: {hidden: 'true'}}
        User
      %th
        %span.fa.fa-calendar{aria: {hidden: 'true'}}
        Last Login
      %th
        %span.fa.fa-check-square-o{aria: {hidden: 'true'}}
        Confirmed?
      %th
        %span.fa.fa-times-circle-o{aria: {hidden: 'true'}}
        Active?
      %th

  %tbody
    - @users.each do |user|
      - last_seen = user.get_last_seen
      %tr
        %td= link_to "#{user.user_name} (#{user.role_symbols.join(', ')})", user_account_path(user)
        %td= last_seen.blank? ? '?' : format_sidebar_datetime(last_seen)
        %td
          - if user.confirmed?
            %span.fa.fa-check{aria: {hidden: 'true'}}
            yes
          - else
            %span.fa.fa-times{aria: {hidden: 'true'}}
            no
        %td
          - unless user.deleted?
            %span.fa.fa-check{aria: {hidden: 'true'}}
            yes
          - else
            %span.fa.fa-times{aria: {hidden: 'true'}}
            no
        %td
          = link_to edit_user_account_path(user), target: '_self', class: 'btn btn-default btn-xs' do
            %span.fa.fa-edit{aria: {hidden: 'true'}}
            Edit