- content_for :title, 'User List'

= render partial: 'shared/sidebar_admin'

- content_for :right_sidebar do
  = render partial: 'shared/sidebar_metadata_heading', locals: {title: 'Admin', icon_class: 'cog'}

%table.table.table-striped.table-hover
  %thead
    %tr
      %th
        %span.fa.fa-user{aria: {hidden: 'true'}}
        User
      %th
        %span.fa.fa-calendar{aria: {hidden: 'true'}}
        Last Login
      %th
        %span.fa.fa-check-square-o{aria: {hidden: 'true'}}
        Confirmed?
      %th

  %tbody
  - @users.each do |user|
    - last_seen = user.get_last_seen
    %tr
      %td= link_to "#{user.user_name} (#{user.role_symbols.join(', ')})", user_account_path(user)
      %td= last_seen.blank? ? '?' : format_sidebar_datetime(last_seen)
      %td= user.confirmed? ? 'confirmed' : 'no'
      %td
        = link_to edit_user_account_path(user), target: '_self', class: 'btn btn-default btn-xs' do
          %span.fa.fa-edit{aria: {hidden: 'true'}}
          Edit