%h1 User Accounts

-# plugin turns a table row into a clickable link
-# http://jasny.github.io/bootstrap/javascript.html#rowlink

%table.table.table-striped(data-provides='rowlink')
  %thead
    %tr
      %th User Name
      %th Last Login
      %th
      %th Confirmed?
      %th

  %tbody
  - @users.each do |user|
    - last_seen = user.get_last_seen
    %tr
      %td= link_to "#{user.user_name} (#{user.role_symbols.join(', ')})", user_account_path(user)
      %td= last_seen.blank? ? '?' : last_seen.iso8601
      %td= last_seen.blank? ? '?' : "#{distance_of_time_in_words(Time.zone.now, last_seen, nil, {vague: true})} ago"
      %td= user.confirmed? ? 'confirmed' : 'no'
      %td.nolink
        = link_to user_account_path(user), class: 'btn btn-mini' do
          %i{class: 'fa fa-user'}
          View
        = link_to edit_user_account_path(user), class: 'btn btn-mini' do
          %i{class: 'fa fa-edit'}
          Edit
        = link_to user_account_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' do
          %i{class: 'fa fa-times '}
          Delete

- content_for :title, 'Users'

- content_for :left_sidebar do
  = render partial: 'sidebar_links'