
= image_tag @user.image.url(:span3), class: 'span3'

.span9
  %h1= @user.user_name
  You can
  = link_to 'request access', new_access_request_projects_path
  to existing projects or
  = link_to 'create', new_project_path
  your own projects.

.span12
  %h3 Projects

  - if @user_projects.empty?
    No projects to show.
  - else
    = page_entries_info @user_projects
    = will_paginate @user_projects, renderer: BawWillPaginateLinkRenderer

    %table.table.table-striped(data-provides='rowlink')
      %thead
        %tr
          %th Project
          %th Number of Sites
          %th Permission
          %th

      %tbody
      - @user_projects.each do |project|
        %tr
          %td= link_to project.name, project_path(project)
          %td= project.sites.size
          %td= AccessLevel.value_to_name(@user.highest_permission(project))
          %td.nolink
            = link_to project_path(project), class: 'btn btn-mini' do
              %i{class: 'fa fa-home'}
              Project
            = link_to project_permissions_path(project), class: 'btn btn-mini' do
              %i{class: 'fa fa-key'}
              Permissions

- content_for :title, "Projects #{@user.user_name} can access"

- content_for :left_sidebar do
  = render partial: 'sidebar_links'