= image_tag @user.image.url(:span3), class: 'span3'

.span9
  %h1= @user.user_name

.span12
  %h3 Bookmarks

  - if @user.bookmarks.empty?
    = 'You have not created any bookmarks.'
  - else
    %table.table.table-striped(data-provides='rowlink')

      %tr
        %th Name
        %th Description

      - @user.bookmarks.each do |bookmark|
        %tr
          %td= link_to bookmark.name, bookmark_path(bookmark)
          %td= bookmark.notes

.span12
  %h3 Datasets

  - if @user.datasets.empty?
    = 'You have not created any datasets.'
  - else
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Project
          %th Last Modified
          %th Description

      %tbody
      - @user.datasets.order('updated_at DESC').each do |dataset|
        %tr
          %td= link_to dataset.name, project_dataset_path(dataset.project, dataset)
          %td= link_to dataset.project.name, project_path(dataset.project)
          %td
            = ActiveSupport::Inflector.ordinalize(dataset.updated_at.strftime("%d").to_i)
            = dataset.updated_at.strftime(" %b, %Y %I:%M %p")
          %td= render partial: 'datasets/summary', locals: {dataset: dataset}

- content_for :left_sidebar do
  = render layout: '/shared/left_sidebar', locals: {title: 'User Accounts'} do
    - if current_user == @user
      %li= link_to 'Edit my details', edit_user_registration_path, title: 'Edit your account information', data: {toggle: 'tooltip',  placement: 'right'}
    - elsif can? :edit, @user
      %li= link_to 'Edit', edit_user_account_path(@user), title: 'Edit this user\'s details', data: {toggle: 'tooltip',  placement: 'right'}
    - if can? :index, User
      %li= link_to 'List', user_accounts_path, title: 'List all user accounts', data: {toggle: 'tooltip',  placement: 'right'}

