
= image_tag @user.image.url(:span3), class: 'span3'

.span9
  %h1= @user.user_name
  .row-fluid
    .span6{style:'text-align:center'}
      %p
        Projects:
        = number_with_delimiter(@user.get_project_count)
      %p
        Tags:
        = number_with_delimiter(@user.get_tag_count, delimiter: ' ')
      %p
        Last seen
        - last_seen = @user.get_last_seen
        = last_seen.blank? ? '?' : "#{distance_of_time_in_words(Time.zone.now, last_seen, nil, {vague: true})} ago"
    .span6{style:'text-align:center'}
      %p
        Sites:
        = number_with_delimiter(@user.get_site_count)
      %p
        Annotations:
        = number_with_delimiter(@user.get_annotation_count, delimiter: ' ')
      %p
        Member for
        - signed_up_date = @user.created_at
        = signed_up_date.blank? ? '?' : "#{distance_of_time_in_words(signed_up_date, Time.zone.now, nil, {vague: true})}"

-#.span12
-#  %h3 Datasets
-#
-#  - if @user.datasets.empty?
-#    = 'You have not created any datasets.'
-#  - else
-#    %table.table.table-striped
-#      %thead
-#        %tr
-#          %th Name
-#          %th Project
-#          %th Last Modified
-#          %th Description
-#
-#      %tbody
-#      - @user.datasets.order('updated_at DESC').each do |dataset|
-#        %tr
-#          %td= link_to dataset.name, project_dataset_path(dataset.project, dataset)
-#          %td= link_to dataset.project.name, project_path(dataset.project)
-#          %td
-#            = ActiveSupport::Inflector.ordinalize(dataset.updated_at.strftime("%d").to_i)
-#            = dataset.updated_at.strftime(" %b, %Y %I:%M %p")
-#          %td= render partial: 'datasets/summary', locals: {dataset: dataset}

- content_for :title, "User #{@user.user_name}"

- content_for :left_sidebar do
  = render partial: 'sidebar_links'