- content_for :meta_title, "User #{@user.user_name}"
- content_for :page_title, @user.user_name

= render partial: 'shared/sidebar_user', locals: {user_show: @user, user_current: current_user}

- is_valid_user = defined?(@user) && !@user.nil? && !@user.id.nil?
- is_admin = Access::Core.is_admin?(current_user)
- is_own_profile = is_valid_user && User.same_user?(current_user, @user)

.col-sm-4
  .thumbnail
    = image_tag @user.image.url(:span3), alt: @user.user_name
    .caption
      %p
        %span.fa.fa-clock-o{aria: {hidden: 'true'}}
        Last seen
        - last_seen = @user.get_last_seen
        = last_seen.blank? ? '?' : format_sidebar_datetime(last_seen)
      %p
        %span.fa.fa-user
        Member for
        - signed_up_date = @user.created_at
        = signed_up_date.blank? ? '?' : format_sidebar_datetime(signed_up_date, ago: false)

  - if is_own_profile
    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading
            Download
          %ul.list-group
            %li.list-group-item
              = link_to 'Annotations you\'ve created', make_user_annotations_path(@user.id)
.col-sm-8
  .row
    .col-sm-6
      %ul.list-group
        %li.list-group-item
          %span.fa.fa-home{aria: {hidden: 'true' }}
          Projects
          %span.badge
            = number_with_delimiter(Access::ByPermission.projects(@user).count, delimiter: ' ')
        %li.list-group-item
          %span.fa.fa-tags{aria: {hidden: 'true' }}
          Tags
          %span.badge
            = number_with_delimiter(Access::ByUserModified.taggings(@user).count, delimiter: ' ')
        %li.list-group-item
          %span.fa.fa-bookmark{aria: {hidden: 'true' }}
          Bookmarks
          %span.badge
            = number_with_delimiter(Access::ByUserModified.bookmarks(@user).count, delimiter: ' ')
    .col-sm-6
      %ul.list-group
        %li.list-group-item
          %span.fa.fa-map-marker{aria: {hidden: 'true' }}
          Sites
          %span.badge
            =  number_with_delimiter(Access::ByPermission.sites(@user).count, delimiter: ' ')
        %li.list-group-item
          %span.fa.fa-bullseye{aria: {hidden: 'true' }}
          Annotations
          %span.badge
            = number_with_delimiter(Access::ByUserModified.audio_events(@user).count, delimiter: ' ')
        %li.list-group-item
          %span.fa.fa-comments{aria: {hidden: 'true' }}
          Comments
          %span.badge
            = number_with_delimiter(Access::ByUserModified.audio_event_comments(@user).count, delimiter: ' ')
  .row
    .col-sm-12
      .panel.panel-default
        .panel-heading
          Most Popular Tags
        %ul.list-group
          - Tag.user_top_tags(@user).each do |item|
            %li.list-group-item
              %span.fa.fa-tag{aria: {hidden: 'true' }}
              = link_to item['tag_name'], make_library_tag_search_path(item['tag_name'])
              %span.badge
                = item['tag_count']
