- content_for :meta_title, "User #{@user.user_name}"
- content_for :page_title, @user.user_name

= render partial: 'shared/sidebar_user'

.col-sm-3
  = image_tag @user.image.url(:span3), class: 'thumbnail', alt: @user.user_name

.col-sm-1


.col-sm-4
  %ul.list-group
    %li.list-group-item
      %i.fa.fa-home
      Projects
      %span.badge
        = number_with_delimiter(Access::Query.projects_accessible(@user).count, delimiter: ' ')
    %li.list-group-item
      %i.fa.fa-tags
      Tags
      %span.badge
        = number_with_delimiter(Access::Query.taggings_modified(@user).count, delimiter: ' ')
    %li.list-group-item
      %i.fa.fa-bookmark
      Bookmarks
      %span.badge
        = number_with_delimiter(Access::Query.bookmarks_modified(@user).count, delimiter: ' ')

  %i.fa.fa-clock-o
  Last seen
  - last_seen = @user.get_last_seen
  = last_seen.blank? ? '?' : "#{distance_of_time_in_words(Time.zone.now, last_seen, nil, {vague: true})} ago"

.col-sm-4
  %ul.list-group
    %li.list-group-item
      %i.fa.fa-map-marker
      Sites
      %span.badge
        =  number_with_delimiter(Access::Query.sites(@user, Access::Core.levels_allow).count, delimiter: ' ')
    %li.list-group-item
      %i.fa.fa-bullseye
      Annotations
      %span.badge
        = number_with_delimiter(Access::Query.audio_events_modified(@user).count, delimiter: ' ')
    %li.list-group-item
      %i.fa.fa-comments
      Comments
      %span.badge
        = number_with_delimiter(Access::Query.audio_event_comments_modified(@user).count, delimiter: ' ')

  %i.fa.fa-user
  Member for
  - signed_up_date = @user.created_at
  = signed_up_date.blank? ? '?' : "#{distance_of_time_in_words(signed_up_date, Time.zone.now, nil, {vague: true})}"