%h2 Resend confirmation instructions
= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), wrapper: :horizontal_form,
  html: { class: 'form-horizontal', method: :post }) do |f|
  = f.error_notification
  = f.full_error :confirmation_token
  = f.input :email, required: true, autofocus: true, hint: 'blah'
  = f.button :submit, "Resend confirmation instructions"

