%h2 Resend confirmation instructions
= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = f.error_notification
  = f.full_error :confirmation_token
  .form-inputs
    = f.input :login, required: true, autofocus: true, hint: 'Enter your email or user name.'
  .form-actions
    = f.button :submit, 'Resend confirmation instructions'

- content_for :title, 'Resend confirmation instructions'

- content_for :left_sidebar do
  = render partial: 'devise/shared/left_sidebar'
