- content_for :meta_title, t('devise.shared.links.confirm_account')
- content_for :page_title, t('devise.confirmations.new.resend_confirmation_instructions')
- @info_bar = {title: t('baw.shared.links.accounts.title'),  icon: 'user'}
- set_current_menu_item(:login, {href: new_confirmation_path(resource_name),
  title: t('devise.shared.links.confirm_account'),
  icon: 'envelope' })


= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { class: 'form-horizontal' }) do |f|
  = field_set_tag do
    = f.error_notification
    = f.full_error :confirmation_token
    = f.input :login, required: true, autofocus: true, hint: t('devise.confirmations.new.login_hint'), placeholder: 'Login'
    = f.button :submit_cancel, t('devise.confirmations.new.resend_confirmation_instructions'), class: 'btn-default'

