- unless current_user.blank?
  - if !current_user.confirmed?
    .alert.fade.in.alert-warning
      %button.close{ 'data-dismiss' => 'alert'} &times;
      =t 'devise.failure.unconfirmed'
      = link_to 'Resend confirmation email', new_user_confirmation_path

%h2
  Edit #{resource_name.to_s.humanize}
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { class: 'form-horizontal', :multipart => true, :method => :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :user_name, :required => true, :autofocus => true
    = f.input :email, :required => true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    = f.input :password, :autocomplete => 'off', :hint => "leave it blank if you don't want to change it", :required => false
    = f.input :password_confirmation, :required => false
    = f.input :current_password, :hint => 'we need your current password to confirm your changes', :required => true
    .control_group
      = f.label :image
      .controls
        - unless resource.image_file_name.blank?
          = image_tag resource.image.url(:span1)
        = f.file_field :image
  .form-actions
    = f.button :submit, 'Update'

- content_for :title, "Edit Profile for #{current_user.user_name}"

- content_for :left_sidebar do
  = render layout: '/shared/left_sidebar', locals: {title: 'Users'} do
    %li= link_to 'View profile', my_account_path, title: 'View your profile page', data: {toggle: 'tooltip',  placement: 'right'}
    - unless current_user.is_admin?
      %li= link_to 'Cancel my account', registration_path(resource_name), method: :delete,
        title: "Permanently delete your account", data: {confirm: 'Are you sure?', toggle: 'tooltip',  placement: 'right'}