- content_for :title, t('devise.registrations.edit.title', resource: resource_name.to_s.humanize)

= render partial: 'shared/sidebar_user'

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal', method: :put }) do |f|
  = field_set_tag do
    = f.error_notification
    = f.input :user_name, required: true, autofocus: true
    = f.input :email, required: true, placeholder: 'Email'
    = render partial: '/shared/time_zone_select_custom', locals: { f: f, attribute_name: :tzinfo_tz, model_name: resource_name }
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p= t('devise.registrations.edit.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email)
    = f.input :password, autocomplete: 'off', hint: t('devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it'), required: false
    = f.input :password_confirmation, required: false
    = f.input :current_password, hint: t('devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes'), required: true
    .form-group.file.optional.user_image
      = f.label :image, 'Profile Image', class: 'col-sm-3 control-label', for: :image
      .col-sm-5
        - if resource.image_file_name.blank?
          = f.file_field :image, class: 'file optional'
        - else
          .row
            .col-sm-7
              New Image
            .col-sm-5
              Current Image
          .row
            .col-sm-7
              = f.file_field :image, class: 'file optional'
            .col-sm-5
              = image_tag resource.image.url(:span1), class: 'thumbnail'
    = f.button :submit_cancel, t('devise.registrations.edit.update'), class: 'btn-default'
  %h3 Cancel my account
  %p
    = t('devise.registrations.edit.unhappy')
    = link_to t('devise.registrations.edit.cancel_my_account'), registration_path(resource_name),
    data: { confirm: t('devise.registrations.edit.are_you_sure'), toggle: 'tooltip',  placement: 'right' },
    title: 'WARNING: This will permanently delete your account',
    method: :delete
