%h2= t('devise.registrations.new.sign_up')
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal', method: :post }) do |f|
  = field_set_tag do
    = f.error_notification
    = f.input :user_name, required: true, autofocus: true, placeholder: 'User name'
    = f.input :email, required: true, autofocus: true, placeholder: 'Email'
    = f.input :password, label: t('devise.passwords.edit.new_password'), required: true, autofocus: true, placeholder: 'Password',
      hint: (t('devise.passwords.edit.hint_password_length',  minimum_password_length: @minimum_password_length) if @minimum_password_length)
    = f.input :password_confirmation, label: t('devise.passwords.edit.confirm_new_password'), required: true, placeholder: 'Confirm password'
    = f.button :submit_cancel, t('devise.shared.links.sign_up'), class: 'btn-default'
