%h2 Sign up
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :user_name, required: true, autofocus: true
    = f.input :password, required: true
    = f.input :password_confirmation, required: true
    = f.time_zone_select :time_zone_name, /Australia/, default: 'Brisbane', required: true
    = f.input :email, required: true
  .form-actions
    = f.button :submit, 'Sign up'

- content_for :title, 'Sign Up'

- content_for :left_sidebar do
  = render partial: 'devise/shared/left_sidebar'
