.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header USER ACCOUNTS
    - if controller_name != 'sessions'
      %li= link_to 'Sign in', new_user_session_path
    - if devise_mapping.registerable? && controller_name != 'registrations'
      %li= link_to 'Sign up', new_user_registration_path
    - if devise_mapping.recoverable? && controller_name != 'passwords'
      %li= link_to 'Forgot password', new_user_password_path
    - if devise_mapping.confirmable? && controller_name != 'confirmations'
      %li= link_to 'Resend confirmation', new_user_confirmation_path
    - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
      %li= link_to 'Resend unlock', new_user_unlock_path
    - if devise_mapping.omniauthable?
      - resource_class.omniauth_providers.each do |provider|
        %li= link_to 'Sign in with #{provider.to_s.titleize}', omniauth_authorize_path(resource_name, provider)