= f.error_notification

.form-inputs
  = f.input :name
  = f.input :description, input_html: {rows: '3'}
  = f.input :analysis_identifier
  = f.input :version
  = f.input :executable_command, input_html: {rows: '3'}
  = f.input :executable_settings, input_html: {rows: '3'}
  = f.input :verified

.form-actions
  = f.button :submit
