-# plugin turns a table row into a clickable link
-# http://jasny.github.io/bootstrap/javascript.html#rowlink
%table.table.table-striped.table-condensed(data-provides='rowlink')
  %thead
    %tr
      %th Name
      %th Version
      %th ID
      %th Command
      %th
  %tbody
  - scripts.each do |script|
    %tr
      %td= link_to script.name, script_path(script)
      %td= script.version
      %td= script.analysis_identifier
      %td= truncate(script.executable_command)
      %td.nolink
        = link_to edit_script_path(script), class: 'btn btn-mini btn-edit' do
          Create new version