- if script == current_version
  - css_class = 'info'
- else
  - css_class = ''

%tr{class: css_class}
  %td= link_to script.name, script_path(script)
  %td= script.version
  %td= script.analysis_identifier
  %td= truncate(script.executable_command)
- unless script.update_from.blank?
  = render partial: 'scripts/script_row', locals: { script: script.update_from, current_version: current_version}
