%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Version
      %th ID
      %th Settings file
      %th Data file
      %th
  %tbody
  - scripts.each do |script|
    %tr
      %td= link_to script.name, script_path(script)
      %td= script.version
      %td= script.analysis_identifier
      %td= link_to_if script.settings_file_file_name,  script.settings_file_file_name, script.settings_file.url
      %td= link_to_if script.data_file_file_name,  script.data_file_file_name, script.data_file.url
      %td.nolink
        = link_to edit_script_path(script), class: 'btn btn-default btn-xs' do
          %span.fa.fa-plus-square-o
          New version