%h1= @script.display_name
%p= @script.description

%h2 Executable
%p
  %em Command:
  = @script.executable_command
%p
  %em Settings:
  %pre
    = @script.executable_settings

- unless @script.update_from.blank? && @script.updated_by.blank?
  %h3 Versions

  %table.table.table-striped.table-condensed(data-provides='rowlink')
    %thead
      %tr
        %th Name
        %th Version
        %th Analysis identifier
        %th Command
    %tbody
      = render partial: 'scripts/script_row', locals: { script: @script.latest_version, current_version: @script}


- content_for :right_sidebar do
  = sidebar_metadata_users('Created by', [{user: @script.creator, subtext: distance_of_time_in_words(Time.zone.now, @script.created_at, nil, {vague: true}) + ' ago' }])
  = sidebar_metadata('Analysis Identifier', @script.analysis_identifier)

- content_for :left_sidebar do
  = render layout: '/shared/left_sidebar', locals: {title: 'Scripts'} do
    - if can? :update, @script
      %li= link_to 'Create new version', edit_script_path(@script),  title: "Create new version of this script", data: {toggle: 'tooltip',  placement: 'right'}
