- content_for :meta_title, "Script #{@script.display_name}"
- content_for :page_title, @script.display_name

= render partial: 'shared/sidebar_script', locals: {script: @script}

- content_for :right_sidebar do
  = render partial: 'shared/sidebar_metadata_heading', locals: {title: 'Script', icon_class: 'file-text-o'}
  = render partial: 'shared/sidebar_metadata_user_created', locals: { item: @script }
  = render partial: 'shared/sidebar_metadata', locals: {title: 'Analysis Identifier', text: @script.analysis_identifier}

%p= @script.description
%p= @script.notes

%h3 Executable
%p
  %em Command:
  = @script.executable_command
%p
  %em Settings:
  %pre
    = @script.executable_settings

- unless @script.updated_by_script_id.blank?
  %h3 Next Version
  - newer_script = Script.find(@script.updated_by_script_id)
  = link_to newer_script.display_name, newer_script

- if Script.where(updated_by_script_id: @script.id).any?
  %h3 Previous Version
  - newer_script = Script.where(updated_by_script_id: @script.id).first
  = link_to newer_script.display_name, newer_script
