- content_for :meta_title, "Script #{@script.display_name}"
- content_for :page_title, @script.display_name

= render partial: 'shared/sidebar_script', locals: {script: @script}

- content_for :right_sidebar do
  = render partial: 'shared/sidebar_metadata_heading', locals: {title: 'Script', icon_class: 'file-text-o'}
  = render partial: 'shared/sidebar_metadata_user_created', locals: { item: @script }
  = render partial: 'shared/sidebar_metadata', locals: {title: 'Analysis Identifier', text: @script.analysis_identifier}
  = render partial: 'shared/sidebar_metadata', locals: {title: 'Settings file', text: link_to(@script.settings_file_file_name, @script.settings_file.url) }
  - unless @script.data_file_file_name.blank?
    = render partial: 'shared/sidebar_metadata', locals: {title: 'Data file', text: link_to(@script.data_file_file_name, @script.data_file.url)}

%p= @script.description
%p= @script.notes

- unless @script.updated_by_script_id.blank?
  %h3 Next Version
  - newer_script = Script.find(@script.updated_by_script_id)
  = link_to newer_script.display_name, newer_script

- if Script.where(updated_by_script_id: @script.id).any?
  %h3 Previous Version
  - newer_script = Script.where(updated_by_script_id: @script.id).first
  = link_to newer_script.display_name, newer_script