= simple_form_for [@project, @dataset], html: {class: 'form-horizontal'}  do |f|
  = f.error_notification
  .row-fluid
    .span6.form-inputs
      %fieldset
        %legend Information
        = f.input :name, required: true, placeholder: 'Name', input_html: {class: 'span12' }
        = f.input :description, input_html: {class: 'span12',rows: 3 }, placeholder: 'Description'

      %fieldset
        %legend Sites
        = f.collection_select :site_ids, @project.sites, :id, :name, {}, { class: 'span12', :multiple => true }
    .span6
      = gmaps(markers: {data: @project.sites.to_gmaps4rails},
      map_options: gmaps_default_options)
      = yield :scripts

  .row-fluid
    .span6
      %fieldset
        %legend Dates and Times
        = f.input :has_time, as: :boolean, label: 'Enable Time Filter'
        = f.input :start_time, as: :string , disabled: !@dataset.has_time,  wrapper: :bootstrap_timepicker, input_html: {class: 'span12', value: (@dataset.start_time.nil? ? nil : l(@dataset.start_time, format: :short))}
        = f.input :end_time, as: :string , disabled: !@dataset.has_time, wrapper: :bootstrap_timepicker, input_html: {class: 'span12', value: (@dataset.end_time.nil? ? nil : l(@dataset.end_time, format: :short))}
        = f.input :has_date, as: :boolean, label: 'Enable Date Filter'
        = f.input :start_date, as: :string, :order => [:day, :month, :year], disabled: !@dataset.has_date, input_html: {class: 'span12', value: (@dataset.start_date.nil? ? nil : l(@dataset.start_date, format: :short))}
        = f.input :end_date, as: :string, :order => [:day, :month, :year], disabled: !@dataset.has_date,  input_html: {class: 'span12', value: (@dataset.end_date.nil? ? nil : l(@dataset.end_date, format: :short))}
    .span6
      %fieldset
        %legend Filtering and Sampling
        -#= f.input :filters, prompt: 'No Filter'
        -#= f.input :number_of_samples, label: 'Number of random 1 min samples', input_html: {class: 'span12'}
        = f.input :number_of_tags, collection: {'None' => 0, '1 or more' => 1  }, prompt: 'No Restriction', input_html: {class: 'span12'}
        = f.input :types_of_tags, input_html: {class: 'span12'}, prompt: 'No Restriction'

  .form-actions
    = f.button :submit

:javascript
  $('#dataset_start_time').timepicker({template: false, showInputs: false, minuteStep: 1, showMeridian: false,  defaultTime:false});
  $('#dataset_end_time').timepicker({template: false, showInputs: false, minuteStep: 1, showMeridian: false, defaultTime:false});
  $('#dataset_has_time').change(function(){
      $('#dataset_start_time').prop("disabled",!$('#dataset_start_time').prop("disabled"));
      $('#dataset_end_time').prop("disabled",!$('#dataset_end_time').prop("disabled"));
  });
  $('#dataset_start_date').datepicker({format: 'dd/mm/yyyy'});
  $('#dataset_end_date').datepicker({format: 'dd/mm/yyyy'});
  $('#dataset_has_date').change(function(){
      $('#dataset_start_date').prop("disabled",!$('#dataset_start_date').prop("disabled"));
      $('#dataset_end_date').prop("disabled",!$('#dataset_end_date').prop("disabled"));
  });
