-#- if !dataset.dataset_result_info.blank? && dataset.dataset_result_info['total_duration_seconds'] > 0
-#  %p
-#    %small
-#      = 'Dataset has a total duration of '
-#      = "#{distance_of_time_in_words(dataset.dataset_result_info['total_duration_seconds'], 0, include_seconds: true)}."
-#      = "It starts #{time_ago_in_words(dataset.dataset_result_info['earliest']['recorded_date'], include_seconds: true)} ago "
-#      = "(#{ActiveSupport::Inflector.ordinalize(Time.zone.parse(dataset.dataset_result_info['earliest']['recorded_date']).strftime("%d").to_i)}"
-#      = "#{Time.zone.parse(dataset.dataset_result_info['earliest']['recorded_date']).strftime(" %b, %Y %I:%M %p")}), "
-#      = "and finishes #{time_ago_in_words(dataset.dataset_result_info['most_recent']['recorded_date'], include_seconds: true)} ago "
-#      = "(#{ActiveSupport::Inflector.ordinalize(Time.zone.parse(dataset.dataset_result_info['most_recent']['recorded_date']).strftime("%d").to_i)}"
-#      = "#{Time.zone.parse(dataset.dataset_result_info['most_recent']['recorded_date']).strftime(" %b, %Y %I:%M %p")}). "
-#- else
-#  %p
-#    %small
-#      = "This dataset contains no recordings."