%p
  Hello,

%p
  You are receiving this email because
  = "'#{@info[:sender_name]}'"
  sent a message from the
  = Settings.organisation_names.site_long_name
  Contact Us page.

- if @info[:sender_email]
  %p
    They included their email address if you would like to reply:
    = @info[:sender_email]

%p
  Their message is:
  %pre= @info[:model].content

Additional information:
%p
  Date stamp:
  = @info[:datestamp]
%p
  User Agent:
  = @info[:client_browser]
%p
  IP Address:
  = @info[:client_ip]

- if @info[:logged_in_user_name]
  %p
    Website Member:
    = @info[:logged_in_user_name]

Regards,
%br= Settings.organisation_names.organisation_name