%h1 Tag List

- content_for :title, 'Tag Management'

- content_for :left_sidebar do
  = render layout: '/shared/left_sidebar', locals: {title: 'Tag Management'} do
    %li= link_to 'New Tag', new_tags_management_path,  title: "Create a new tag", data: {toggle: 'tooltip',  placement: 'right'}


- order_dir_icon = @tags_info[:order_dir] == :asc ? 'caret-down' : 'caret-up'
- order_by_opposite = @tags_info[:order_dir] == :asc ? :desc : :asc
- order_by = @tags_info[:order_by]
- filter = @tags_info[:filter]

.row
  .span6
    = page_entries_info @tags
    = will_paginate @tags, renderer: BawWillPaginateLinkRenderer

  .span6
    = form_tag(tags_management_index_path, method: :get) do
      .form-search
        %input.input-medium.search-query{type: 'text', name: 'filter', id: 'filter', value: @tags_info[:filter]}
        %input{type: 'hidden', name: 'order_by', id: 'order_by', value: order_by}
        %input{type: 'hidden', name: 'order_dir', id: 'order_dir', value: @tags_info[:order_dir] }
        = submit_tag('Filter', class: 'btn')
        = submit_tag('Clear', class: 'btn')

%table.table.table-striped
  %thead
    %tr
      %th
        = link_to tags_management_index_path order_by: :text, order_dir: order_by_opposite, filter: filter do
          Text
          - if order_by == :text
            %i{class: "fa fa-#{order_dir_icon}"}
      %th
        = link_to tags_management_index_path order_by: :is_taxanomic, order_dir: order_by_opposite, filter: filter  do
          Taxonomic
          - if order_by == :is_taxanomic
            %i{class: "fa fa-#{order_dir_icon}"}
      %th
        = link_to tags_management_index_path order_by: :retired, order_dir: order_by_opposite, filter: filter do
          Retired
          - if order_by == :retired
            %i{class: "fa fa-#{order_dir_icon}"}
      %th
        = link_to tags_management_index_path order_by: :type_of_tag, order_dir: order_by_opposite, filter: filter do
          Type
          - if order_by == :type_of_tag
            %i{class: "fa fa-#{order_dir_icon}"}
      %th
        = link_to tags_management_index_path order_by: :updated_at, order_dir: order_by_opposite, filter: filter do
          Updated
          - if order_by == :updated_at
            %i{class: "fa fa-#{order_dir_icon}"}
      %th
        = link_to tags_management_index_path order_by: :updater_id, order_dir: order_by_opposite, filter: filter do
          Updated By
          - if order_by == :updater_id
            %i{class: "fa fa-#{order_dir_icon}"}
      %th

  %tbody
  - @tags.each do |tag|
    - last_change_at = tag.updated_at.blank? ? tag.created_at : tag.updated_at
    - last_change_id = tag.updater_id.blank? ? tag.creator_id : tag.updater_id
    - user = last_change_id.blank? ? nil : User.find(last_change_id)
    - taggings_count = tag.taggings.count
    %tr
      %td{colspan: 4}
        = link_to tag.text, edit_tags_management_path(tag)
        %br
        - if tag.retired
          %span.label.label-warning
            %i{class: 'fa fa-archive'}
            Retired
        - else
          %span.label.label-success
            %i{class: 'fa fa-flag'}
            In use
        - if tag.is_taxanomic
          %span.label.label-default
            %i{class: 'fa fa-book'}
            Taxonomic
        - else
          %span.label.label-inverse
            %i{class: 'fa fa-users'}
            Folksonomic
        %span.label.label-default
          %i{class: 'fa fa-info-circle'}
          = tag.type_of_tag
        %span.label{class: taggings_count > 0 ? 'label-inverse' : 'label-default'}
          %i{class: 'fa fa-tags'}
          = taggings_count
      %td= last_change_at.blank? ? '?' : "#{distance_of_time_in_words(Time.zone.now, last_change_at, nil, {vague: true})} ago"
      %td= user.blank? ? '(unknown)' : (link_to(user.user_name, user_account_path(user)))
      %td
        = link_to edit_tags_management_path(user), class: 'btn btn-mini' do
          %i{class: 'fa fa-edit'}
          Edit
        = link_to tags_management_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' do
          %i{class: 'fa fa-times '}
          Delete

- if @tags.empty?
  No tags to show.