%h2= t('devise.passwords.new.forgot_your_password')
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form-horizontal', method: :post }) do |f|
  = field_set_tag do
    = f.error_notification
    = f.input :login, required: true, autofocus: true, hint: t('devise.confirmations.new.login_hint'), placeholder: 'Login'
    = f.button :submit_cancel, t('devise.passwords.new.send_me_reset_password_instructions'), class: 'btn-default'
