- content_for :meta_title, t('devise.shared.links.reset_password')
- content_for :page_title, t('devise.passwords.new.forgot_your_password')
- @info_bar = {title: t('baw.shared.links.accounts.title'),  icon: 'user'}
- set_current_menu_item(:login, {href: new_password_path(resource_name),
  title: t('devise.shared.links.reset_password'),
  icon: 'key' })


= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form-horizontal', method: :post }) do |f|
  = field_set_tag do
    = f.error_notification
    = f.input :login, required: true, autofocus: true, hint: t('devise.confirmations.new.login_hint'), placeholder: 'Login'
    = f.button :submit_cancel, t('devise.passwords.new.send_me_reset_password_instructions'), class: 'btn-default'
