-# locals: (none)
%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{aria: {controls: 'navbar', expanded: 'false'}, data: {target: '#navbar', toggle: 'collapse'}, type: 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: Settings.organisation_names.parent_site_link, style: 'font-size:14px;'}= Settings.organisation_names.parent_site_name
      %a.navbar-brand{href: root_path, class: ('active' if current_page?(root_path))}= Settings.organisation_names.site_long_name
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{class: ('active' if current_page?(projects_path))}
          %a{href: projects_path}= t('baw.shared.links.projects.title')
        %li{class: ('active' if request.original_fullpath == '/listen')}
          %a{href: '/listen'}= t('baw.shared.links.listen.title')
        %li{class: ('active' if request.original_fullpath == '/library')}
          %a{href: '/library'}= t('baw.shared.links.library.title')
        %li{class: 'dropdown'}
          %a.dropdown-toggle{ aria: {expanded: 'false'}, data: {toggle: 'dropdown'}, href: '#', role: 'button'}
            = Settings.organisation_names.custom_menu.header_title
            %span.caret
            %ul.dropdown-menu{role: 'menu'}
              - Settings.organisation_names.custom_menu.items.each do |entry|
                %li
                  %a{href: URI.join(Settings.organisation_names.parent_site_link, entry['url']) }= entry['title']
      %ul.nav.navbar-nav.navbar-right
        - if current_user.blank?
          %li{class: ('active' if current_page?(new_user_registration_path))}
            %a{href: new_user_registration_path}= t('devise.registrations.new.sign_up')
          %li{class: ('active' if current_page?(new_user_session_path))}
            %a{href: new_user_session_path}= t('devise.sessions.new.sign_in')
        - else
          - if Access::Check.is_admin?(current_user)
            %li
              %a{href: user_accounts_path}
                %span.fa.fa-cog
          %li{class: ('active' if current_page?(my_account_path))}
            %a{href: my_account_path}
              = current_user.user_name
          %li
            %a{href: destroy_user_session_path}= t('devise.shared.links.sign_out')