- content_for(:left_sidebar) do
  %li= link_to 'View my profile', my_account_path, title: 'View your account information', data: {toggle: 'tooltip',  placement: 'right'}
  - if !@user.blank? && current_user == @user
    %li= link_to 'Edit my profile', edit_user_registration_path, title: 'Edit your account information', data: {toggle: 'tooltip',  placement: 'right'}
  - if !@user.blank? && current_user != @user
    %li= link_to 'View user profile', user_account_path(@user), title: 'View this user\'s details', data: {toggle: 'tooltip',  placement: 'right'}
  - if Access::Check.is_admin?(current_user)
    %li= link_to 'User List', user_accounts_path, title: 'View a list of all user accounts', data: {toggle: 'tooltip',  placement: 'right'}
    - if !@user.blank?
      %li= link_to 'Edit user profile', edit_user_account_path(@user), title: 'Edit this user\'s details', data: {toggle: 'tooltip',  placement: 'right'}
  - if !@user.blank? && (current_user == @user || Access::Check.is_admin?(current_user))
    %li= link_to 'Projects', projects_user_account_path(@user), title: "Projects #{@user.user_name} can access", data: {toggle: 'tooltip',  placement: 'right'}
  - if !@user.blank? && (current_user == @user || Access::Check.is_admin?(current_user))
    %li= link_to 'Bookmarks', bookmarks_user_account_path(@user), title: "Bookmarks created by #{@user.user_name}", data: {toggle: 'tooltip',  placement: 'right'}
  - if !@user.blank?
    %li= link_to 'Annotations', audio_events_user_account_path(@user), title: "Annotations created by #{@user.user_name}", data: {toggle: 'tooltip',  placement: 'right'}
  - if !@user.blank? && (current_user == @user || Access::Check.is_admin?(current_user))
    %li= link_to 'Comments', audio_event_comments_user_account_path(@user), title: "Comments by #{@user.user_name}", data: {toggle: 'tooltip',  placement: 'right'}

= render template: 'layouts/application'