-# locals: user_show, user_current
- content_for :page_actions do

  - is_valid_user = defined?(user_show) && !user_show.nil? && !user_show.id.nil?
  - is_admin = Access::Core.is_admin?(user_current)
  - is_own_profile = is_valid_user && User.same_user?(user_current, user_show)
  - is_own_profile_path = is_own_profile ? User.profile_paths(user_show).any?{ |p| current_page?(p)} : false
  - first_word = is_own_profile ? 'My' : 'Their'

  - if is_own_profile
    = edit_link(edit_user_registration_path, 'profile')
  - elsif is_valid_user
    = nav_item(href: user_account_path(user_show),
      title: t('baw.shared.links.profile.title'),
      tooltip: t('baw.shared.links.profile.description', user_name: user_show.user_name),
      icon: 'user' )

  - if is_admin && is_valid_user && !is_own_profile
    = edit_link(edit_user_account_path(user_show), 'profile')

  - if is_own_profile || (is_admin && is_valid_user)
    = nav_item(href: projects_user_account_path(user_show),
      title: t('baw.shared.links.profile_projects.title'),
      tooltip: t('baw.shared.links.profile_projects.description', user_name: user_show.user_name),
      icon: 'globe' )
    = nav_item(href: sites_user_account_path(user_show),
      title: t('baw.shared.links.profile_sites.title'),
      tooltip: t('baw.shared.links.profile_sites.description', user_name: user_show.user_name),
      icon: 'map-marker' )
    = nav_item(href: bookmarks_user_account_path(user_show),
      title: t('baw.shared.links.profile_bookmarks.title'),
      tooltip: t('baw.shared.links.profile_bookmarks.description', user_name: user_show.user_name),
      icon: 'bookmark' )
    = nav_item(href: audio_events_user_account_path(user_show),
      title: t('baw.shared.links.profile_audio_events.title'),
      tooltip: t('baw.shared.links.profile_audio_events.description', user_name: user_show.user_name),
      icon: 'baw-annotation' )


