-# locals: script
- content_for(:left_sidebar_header, 'Scripts')
- content_for(:left_sidebar) do
  %li{class: ('active' if current_page?(admin_dashboard_path))}
    = link_to 'Admin Home', admin_dashboard_path
  %li{class: ('active' if current_page?(scripts_path))}
    = link_to 'Script List', scripts_path,  title: 'List of scripts', data: {toggle: 'tooltip',  placement: 'right'}
  %li{class: ('active' if current_page?(new_script_path))}
    = link_to 'New Script', new_script_path,  title: 'Create a new script', data: {toggle: 'tooltip',  placement: 'right'}
  - if defined?(script)
    - if  can?(:show, script)
      %li{class: ('active' if current_page?(script_path(script)))}
        = link_to 'View Script', script_path(script),  title: 'View script details', data: {toggle: 'tooltip',  placement: 'right'}
    - if can?(:update, script)
      %li{class: ('active' if current_page?(edit_script_path(script)))}
        = link_to 'New version', edit_script_path(script),  title: 'Create new version of this script', data: {toggle: 'tooltip',  placement: 'right'}
