-# locals: project
- content_for(:left_sidebar_header, 'Projects')
- content_for(:left_sidebar) do

  %li{class: ('active' if current_page?(root_path))}
    = link_to t('baw.shared.links.home.title'), root_path,  title: t('baw.shared.links.home.description'), data: {toggle: 'tooltip',  placement: 'right'}

  %li{class: ('active' if current_page?(projects_path))}
    = link_to t('baw.shared.links.projects.title'), projects_path, title: t('baw.shared.links.projects.description'), data: {toggle: 'tooltip',  placement: 'right'}

  - if !defined?(project) && !Access::Check.is_guest?(current_user)
    %li{class: ('active' if current_page?(new_project_path))}
      = link_to 'New Project', new_project_path,  title: 'Create a new project', data: {toggle: 'tooltip',  placement: 'right'}
    %li{class: ('active' if current_page?(new_access_request_projects_path))}
      = link_to 'Request Access', new_access_request_projects_path,  title: 'Request access to a project not listed here', data: {toggle: 'tooltip',  placement: 'right'}

  - if defined?(project)
    - if can?(:show, project)
      %li{class: ('active' if current_page?(project_path(project)))}
        = link_to 'View Project', project_path(project), title: 'View project details', data: {toggle: 'tooltip',  placement: 'right'}

    - if can?(:edit, project)
      %li{class: ('active' if current_page?(edit_project_path(project)))}
        = link_to 'Edit Project', edit_project_path(project),  title: 'Edit project details', data: {toggle: 'tooltip',  placement: 'right'}

    - if can?(:new, project)
      %li{class: ('active' if current_page?(new_project_site_path(project)))}
        = link_to 'Add New Site', new_project_site_path(project),  title: 'Add a new site to this project', data: {toggle: 'tooltip',  placement: 'right'}

    - if can?(:update_permissions, project)
      %li{class: ('active' if current_page?(project_permissions_path(project)))}
        = link_to 'Edit Permissions', project_permissions_path(project),  title: "Edit project's access permissions", data: {toggle: 'tooltip',  placement: 'right'}

    - if can?(:show, project)
      %li= link_to 'Visualise', make_visualise_path(project), title: 'Browse the audio in this project', data: {toggle: 'tooltip',  placement: 'right'}

    - if can?(:edit, project)
      %li{class: ('active' if current_page?(data_upload_path))}
        = link_to t('baw.shared.links.upload_audio.title'), data_upload_path,  title: t('baw.shared.links.upload_audio.description'), data: {toggle: 'tooltip',  placement: 'right'}

    - if can?(:edit_sites, project)
      %li{class: ('active' if current_page?(edit_sites_project_path(project)))}
        = link_to 'Edit Sites', edit_sites_project_path(project),  title: "Change this project's sites", data: {toggle: 'tooltip',  placement: 'right'}

    - if can?(:destroy, project)
      %li= link_to 'Delete Project', project, method: :delete, data: { confirm: 'Are you sure?', toggle: 'tooltip',  placement: 'right' }, title: 'Delete project'