-# locals: f, model_name, attribute_name, full_width (defaults to false), model
- has_error = model.errors.any?
- control_id = "#{model_name}_#{attribute_name}"
- form_group_class = "#{control_id} #{has_error ? 'has-error' : ''}"
- span_id = "#{control_id}_appended_info"
- help_id = "#{control_id}_appended_help"
- error_id = "#{control_id}_appended_error"
- unless defined?(full_width)
  - full_width = false
.form-group.string.optional{class: form_group_class }
  = f.label attribute_name, 'Time Zone', class: 'string optional control-label col-sm-3', for: control_id
  %div{class: (full_width ? 'col-sm-9' : 'col-sm-5')}
    .input-group
      = f.input_field attribute_name, type: 'text', autocomplete: 'off', class: 'form-control'
      %span.input-group-addon{id: span_id, title: 'Time zone abbreviation and current UTC offset'}
        (no match)
    %p.help-block{id: help_id }
    - if has_error
      %p.help-block{id: error_id}
        = model.errors[attribute_name].join(', ')

:javascript
  var mapping = #{TimeZoneHelper.mapping_zone_to_offset.to_json}
  var mapping_keys = Object.keys(mapping);
  var mapping_values = Object.keys(mapping).map(function (key) { return mapping[key]; });

  // init bloodhound
  var engine = new Bloodhound({
    local: mapping_keys,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    datumTokenizer: Bloodhound.tokenizers.whitespace
  });

  // init typeahead
  $('##{control_id}').typeahead({
    'highlight': true,
    'hint': true,
    'minLength': 2
    },
    {
    'source': engine,
    'limit': 10
  });

  $('##{control_id}').on('typeahead:select typeahead:change keydown keypress', function(){
    checkTimeZone();
  });

  function checkTimeZone(){
    var enteredValue = $('##{control_id}').val();
    var mappingValue = mapping[enteredValue];

    var appendedInfo = $('##{span_id}');
    var helpInfo = $('##{help_id}');
    if(mappingValue){
      appendedInfo.text(mappingValue);

      var momentTimezoneName = enteredValue;

      // to make this match with moment js
      // replace dashes with slashes
      var momentTimezoneName = momentTimezoneName.replace(' - ', '/');
      var momentTimezoneName = momentTimezoneName.replace("'", '');

      // move place name after comma
      var commaIndex = momentTimezoneName.indexOf(', ');
      if (commaIndex >= 0){
        var toMove = momentTimezoneName.substring(commaIndex + 2);
        momentTimezoneName = momentTimezoneName.replace('/', '/' + toMove + '/');
        momentTimezoneName = momentTimezoneName.substring(0,momentTimezoneName.indexOf(', '));
      }

      // replace spaces with underscores
      var momentTimezoneName = momentTimezoneName.replace(' ', '_');

      var origTime = moment().tz(momentTimezoneName);
      var formatted = origTime.format("dddd, MMMM Do YYYY, h:mm:ss a z Z")
      helpInfo.text('Currently: ' + formatted);
    } else {
      appendedInfo.text('(no match)');
      helpInfo.text('(no match)');
    }
  }

  // check time zone when page loads
  $(document).ready(function() {
    checkTimeZone();
  });

