-# locals: project
= simple_form_for(project, html: {class: 'form-horizontal', multipart: true }) do |f|
  = field_set_tag do
    = f.error_notification
    = f.input :name, required: true, label: 'Project Name'
    = f.input :description, input_html: {rows: '3'}
    = render partial: 'shared/image_upload', locals: { f: f,  model_instance: project, model_name: 'project' }
    = f.button :submit_cancel, 'Submit', class: 'btn-default'