- content_for :meta_title, "Project #{@project.name} | Edit"
- content_for :page_title, 'Edit Project'

= render partial: 'shared/sidebar_project', locals: {project: @project}

- content_for :right_sidebar do
  = render partial: 'shared/sidebar_metadata_heading', locals: {title: 'Project', icon: 'home'}

%p
  Original name is
  = "'#{@project.name}'."
= render partial: 'form', locals: {project: @project}