- content_for :title, t('baw.shared.links.projects.title')

- content_for(:left_sidebar_header, 'Projects')
- content_for(:left_sidebar) do
  = render partial: 'shared/sidebar_base'
  %li= link_to 'Create New Project', new_project_path,  title: "Create a new project", data: {toggle: 'tooltip',  placement: 'right'}
  %li= link_to 'Request Access', new_access_request_projects_path,  title: "Request access to a project not listed here", data: {toggle: 'tooltip',  placement: 'right'}
  %li= link_to 'Send Audio', data_upload_path,  title: 'Information for adding audio', data: {toggle: 'tooltip',  placement: 'right'}

- @projects.each_slice(2) do |projects|
  .row
    - projects.each do |project|
      .col-sm-6.col-xs-12
        .thumbnail.clearfix
          %a.pull-left{href: project_path(project), style:'margin-right:10px;'}
            %img{src: project.image.url(:span2), alt: project.name}/
          .caption
            %h4{style: 'margin-top:0'}
              %a{href: project_path(project)}= project.name
              %small
                - if Access::Check.can?(current_user, :owner, project)
                  %i.fa.fa-unlock{title: 'You are an owner', data: {toggle:'tooltip',  placement: 'top'}}
                - elsif Access::Check.can?(current_user, :writer, project)
                  %i.fa.fa-unlock{title: 'You have read & write access', data: {toggle:'tooltip',  placement: 'top'}}
                - elsif Access::Check.can?(current_user, :reader, project)
                  %i.fa.fa-lock{title: 'You have read only access', data: {toggle:'tooltip',  placement: 'top'}}
            %p= truncate(project.description, length: 50)
            .btn-group{role: 'group', aria: {label: 'actions'}, style: 'position:absolute; bottom:25px; right:20px;'}
              %a.btn.btn-default{role: 'button', href: project_path(project)}
                %i.fa.fa-info-circle
                Details
              %a.btn.btn-default{role: 'button', href: make_visualise_path(project)}
                %i.fa.fa-eye
                Visualise

- if @projects.empty?
  %p
    You do not have access to any projects. Try
    = link_to 'requesting access', new_access_request_projects_path
    to a project.




