- content_for :title, t('baw.shared.links.projects.title')

= render partial: 'shared/sidebar_project'

- content_for :right_sidebar do
  = render partial: 'shared/sidebar_metadata_heading', locals: {title: 'Projects', icon_class: 'home'}

- @projects.each_slice(3) do |projects|
  .row
    - projects.each do |project|
      .col-sm-4
        .thumbnail.project_thumbnail
          %a{href: project_path(project), style: 'width:100%;'}
            %img{src: project.image.url(:span3), alt: project.name}/
          .caption
            %h4{style: 'margin-top:0'}
              %a{href: project_path(project)}= project.name
            %p= truncate(project.description, length: 75)

- if @projects.empty?
  %p
    You do not have access to any projects. Try
    = link_to 'requesting access', new_access_request_projects_path
    to a project.




