.row-fluid.spacer
  = image_tag @project.image.url(:span3), class: 'span3'

  .span9
    %h1= @project.name
    %p= @project.description

.row-fluid
  %h3= 'Sites'
  - unless @project.sites.empty?
    %ul.thumbnails.span6.project_sites
      - NaturalSort.sort(@project.sites, :name).each do |site|
        .row-fluid.spacer
          = render partial: 'sites/site_thumb_large', locals: {site: site}

    - if @project.sites.select { |site| !site.longitude.blank? && !site.latitude.blank? }.length > 0
      .span6= gmaps(markers: {data: @markers}, map_options: {zoom: 7, auto_zoom: true})
      = yield :scripts
    - else
      .span6.map-placeholder
        %span.map-placeholder-text No locations specified.

.row-fluid
  = link_to new_project_site_path(@project), title: 'Add a new site to this project',
  data: {toggle: 'tooltip',  placement: 'right'}, class: 'btn-create-site btn' do
    Add New Site

-#.row-fluid
  %h3= 'Datasets'
  - unless @project.datasets.empty?
    %table.table.table-striped(data-provides='rowlink')
      %thead
        %tr
          %th Name
          %th Description

      %tbody
      - @project.datasets.each do |dataset|
        %tr
          %td= link_to dataset.name, project_dataset_path(dataset.project, dataset)
          %td= render partial: 'datasets/summary', locals: {dataset: dataset}
        %tr
          %td{colspan:'2'}= render partial: 'datasets/summary_text', locals: {dataset: dataset}

  = link_to new_project_dataset_path(@project), title: 'Add a new dataset to this project',
  data: {toggle: 'tooltip',  placement: 'right'}, class: 'btn-create-site btn' do
    Add New Dataset

-#.row-fluid
  %h3= 'Jobs'
  - unless @project.jobs.empty?
    = render partial: 'jobs/jobs_table', locals: {jobs: @project.jobs}
  = link_to new_project_job_path(@project), title: 'Add a new analysis job to this project',
  data: {toggle: 'tooltip',  placement: 'right'}, class: 'btn-create-site btn' do
    Add New Job

- content_for :right_sidebar do
  = render layout: '/shared/right_sidebar_user_times', locals: { item: @project } do
    = sidebar_metadata('Notes', @project.notes)
    = sidebar_metadata('Urn', @project.urn)
    - permission = current_user.get_permission(@project)
    - unless permission.blank?
      = sidebar_metadata('Your access level', permission.level)

- content_for :title, "Project #{@project.name}"

- content_for :left_sidebar do
  = render layout: '/shared/left_sidebar', locals: {title: 'Projects'} do
    - if can? :edit, @project
      %li= link_to 'Edit Project Details', edit_project_path(@project),  title: "Change this project's details", data: {toggle: 'tooltip',  placement: 'right'}
    - if can? :update_permissions, @project
      %li= link_to 'Edit Permissions', project_permissions_path(@project),  title: "Edit project's access permissions", data: {toggle: 'tooltip',  placement: 'right'}
    - if can? :destroy, @project
      %li= link_to 'Delete Project', @project, :method => :delete, data: { confirm: 'Are you sure?', toggle: 'tooltip',  placement: 'right' }, title: 'Delete project'
    - if can? :edit, @project
      %li= link_to 'Add New Site', new_project_site_path(@project),  title: "Add a new site to this project", data: {toggle: 'tooltip',  placement: 'right'}
    -# if can? :edit, @project
      %li= link_to 'Add New Dataset', new_project_dataset_path(@project),  title: "Add a new dataset to this project", data: {toggle: 'tooltip',  placement: 'right'}
    -# if can? :edit, @project
      %li= link_to 'Add New Job', new_project_job_path(@project),  title: "Add a new analysis job to this project", data: {toggle: 'tooltip',  placement: 'right'}

-# include markerwithlabel.js
%script
  =raw File.read(File.join(File.dirname(__FILE__),'..','..','assets','javascripts','gmaps4rails','markerwithlabel.js'))

:javascript
  Gmaps.map.callback = function() {
    for (var i = 0; i <  this.markers.length; ++i) {
      var oldMarker = Gmaps.map.markers[i].serviceObject;
      oldMarker.setMap(null);
      Gmaps.map.clearMarker(Gmaps.map.markers[i]);
      Gmaps.map.markers[i] = new MarkerWithLabel({
        position: oldMarker.position,
        draggable: false,
        raiseOnDrag: false,
        map: Gmaps.map.map,
        labelContent: oldMarker.title,
        title: oldMarker.title,
        labelAnchor: new google.maps.Point(-9, 34),
        labelClass: "labels", // the CSS class for the label
        labelStyle: {opacity: 1.0}
      });

    }
  };