%h1= "#{@project.name} - Permissions"

%p
  Project is owned by
  = link_to @project.creator.user_name, user_account_path(@project.creator)

%p
  You can also
  =link_to 'edit default access levels', additional_permissions_project_path(@project)
  for this project.

%hr

= simple_form_for :permission, url: update_permissions_project_path(@project) do |p|
  - project_logged_in = AccessLevel.level_logged_in(@project)
  - project_anon = AccessLevel.level_logged_in(@project)
  %table.table.table-striped
    %thead
      %tr
        %th User
        %th No Access
        %th Read
        %th Read & Write
        %th Owner
    %tbody
    - User.users.includes(:permissions).order('lower(user_name) ASC').each do |user|
      - user_level = AccessLevel.manual_level(user, @project, project_anon, project_logged_in)
      - a= 1
      %tr{user_id: user.id}
        %td= link_to user.user_name, user_account_path(user)
        %td
          %input{id: "user_#{user.id}_permissions_level_none",
                    type: 'radio',
                    name: "[user_ids][#{user.id}][permissions][level]",
                    value: '',
                    checked: :none == user_level}
        %td
          %input{id: "user_#{user.id}_permissions_level_reader",
                    type: 'radio',
                    name: "[user_ids][#{user.id}][permissions][level]",
                    value: 'reader',
                    checked: :reader == user_level}

        %td
          %input{id: "user_#{user.id}_permissions_level_writer",
                    type: 'radio',
                    name: "[user_ids][#{user.id}][permissions][level]",
                    value: 'writer',
                    checked: :writer == user_level}
        %td
          %input{id: "user_#{user.id}_permissions_level_owner",
                    type: 'radio',
                    name: "[user_ids][#{user.id}][permissions][level]",
                    value: 'owner',
                    checked: :owner == user_level}
  .form-actions
    = p.submit 'Update Permissions', class: 'btn'

- content_for :title, "Permissions for Project #{@project.name}"

-#- content_for :left_sidebar do
-#  = render layout: '/shared/left_sidebar', locals: {title: 'Projects'} do
-#    %li= link_to 'Project', project_path(@project),  title: "Back to project view", data: {toggle: 'tooltip',  placement: 'right'}

