- content_for :meta_title, "Script #{@script.display_name}"
- content_for :page_title, @script.display_name

= render partial: 'shared/admin/sidebar_script', locals: {script: @script}

- content_for :right_sidebar do
  = render partial: 'shared/sidebar_metadata_heading', locals: {title: 'Script', icon_class: 'file-text-o'}
  = render partial: 'shared/sidebar_metadata_user_created', locals: { item: @script }
  = render partial: 'shared/sidebar_metadata', locals: {title: 'Analysis Identifier', text: @script.analysis_identifier}

%p= @script.description

%h3 Executable
%p
  %em Command:
  = @script.executable_command
%p
  %em
    Settings
    = "(#{@script.executable_settings_media_type}):"
  %pre
    = @script.executable_settings

%h3 Default action params
%p
  %pre
    = @script.analysis_action_params


%h3 All versions of this script
= render partial: 'admin/scripts/scripts_table', locals: {scripts: @all_script_versions}
