- content_for :meta_title, t('devise.shared.links.sign_in')
- content_for :page_title, t('devise.sessions.new.sign_in')

= render partial: 'shared/sidebar_devise',
locals: { devise_mapping_o: devise_mapping,
resource_class_o: resource_class,
resource_name_o: resource_name,
user_show: resource,
user_current: current_user}

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal', method: :post }) do |f|
  = field_set_tag do
    = f.input :login, required: true, autofocus: true, hint: t('devise.confirmations.new.login_hint'), placeholder: 'Login'
    = f.input :password, required: true
    - if devise_mapping.rememberable?
      = f.input :remember_me, as: :boolean, wrapper: :horizontal_boolean
    = f.button :submit_cancel, t('devise.shared.links.sign_in'), class: 'btn-default'