-# see https://github.com/seyhunak/twitter-bootstrap-rails#navbar-helper
= nav_bar fixed: :top, responsive: true, brand: 'Bioacoustic Workbench', inverse: true do
  = menu_group do
    = menu_item 'Projects', projects_path if can? :index, Project
    = menu_item 'Annotation Library', '/library' if can? :index, Project
    = menu_item 'Website Status', '/website_status'
    = menu_item 'Scripts', scripts_path  if can? :manage, Script
    = menu_item 'Contact Us', contact_us_path  unless !current_user.blank? && current_user.is_admin?
    = menu_item 'User Accounts', user_accounts_path if can? :manage, User
  = menu_group pull: :right do
    - if current_user.blank?
      = menu_item 'Sign up', new_user_registration_path
      = menu_item 'Login', new_user_session_path
    - else
      = menu_item "#{current_user.user_name}", my_account_path
      = menu_item 'Logout', destroy_user_session_path