= simple_form_for [@project, @site], html: {:multipart => true } do |f|
  .row-fluid
    .span6
      = f.error_notification

      .form-inputs
        = f.input :name, input_html: { class: 'span12' }
        = f.input :description, input_html: {rows: '6', class: 'span12' }
        = f.input :latitude, input_html: { class: 'span12', max: 90, min: -90 }
        = f.input :longitude, input_html: { class: 'span12', max: 180, min: -180 }
        .control_group.file.optional{class: :site_image}
          = f.label :image
          .controls
            - unless @site.image_file_name.blank?
              = image_tag @site.image.url, class: 'file optional span4'
            = f.file_field :image, class: 'span8'
        .clearfix
        = render partial: '/shared/time_zone_select_custom', locals: { f: f, attribute_name: :tzinfo_tz, model_name: :site }
    .span6= gmaps(markers: {data: @markers, options: { draggable: true  } },
    map_options: gmaps_default_options )
  .row-fluid
    .form-actions
      = f.button :submit

= content_for(:scripts)

:javascript
  Gmaps.map.HandleDragend = function(pos) {
    $('#site_longitude').val(pos.lng());
    $('#site_latitude').val(pos.lat());
  };
  Gmaps.map.callback = function() {
    for (var i = 0; i <  this.markers.length; ++i) {
       google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'dragend', function() { Gmaps.map.HandleDragend(this.getPosition()) });
    }
    if (Gmaps.map.markers.length == 1) {
      var marker = Gmaps.map.markers[0];
      var infowindow = marker.infowindow;
      infowindow.open(Gmaps.map.map, marker.serviceObject);
    }
    google.maps.event.addListener(Gmaps.map.map, 'rightclick', function(event) {
      if (Gmaps.map.markers.length < 1) {
        site_map.createMarker(event.latLng);
      }
    });
  };
  var site_map = {
    lat_long_change: function(eventInfo){
      var lat = $('#site_latitude').val();
      var lng = $('#site_longitude').val()
      if(lat.length == 0 && lng.length == 0){
        Gmaps.map.markers[0].serviceObject.setMap(null);
        Gmaps.map.clearMarker(Gmaps.map.markers[0]);
        Gmaps.map.markers.length = 0;
      } else {
        var newPos = new google.maps.LatLng((+lat).toFixed(6), (+lng).toFixed(6));
        if (Gmaps.map.markers.length < 1){
          var marker = new google.maps.Marker({position: newPos, map:Gmaps.map.serviceObject, draggable:true});
          Gmaps.map.markers.push({serviceObject: marker});
          google.maps.event.addListener(marker, 'dragend', function() { Gmaps.map.HandleDragend(this.getPosition()) });
          var infowindow = new google.maps.InfoWindow({ content: 'Drag&Drop to site location' });
          infowindow.open(Gmaps.map.serviceObject, marker);
        }
        console.log(Gmaps.map.markers)
        Gmaps.map.markers[0].serviceObject.setPosition(newPos);
        Gmaps.map.serviceObject.panTo(newPos);
      }
    },
    createMarker: function(markerLatLng){
      var marker = new google.maps.Marker({position: markerLatLng, map:Gmaps.map.serviceObject, draggable:true});
      Gmaps.map.markers.push({serviceObject: marker});
      google.maps.event.addListener(marker, 'dragend', function() { Gmaps.map.HandleDragend(this.getPosition()) });
      var infowindow = new google.maps.InfoWindow({ content: 'Drag&Drop to site location' });
      infowindow.open(Gmaps.map.serviceObject, marker);

      $('#site_longitude').val(markerLatLng.lng());
      $('#site_latitude').val(markerLatLng.lat());
    }
  };
  $('#site_longitude').bind('change',site_map.lat_long_change)
  $('#site_latitude').bind('change',site_map.lat_long_change)
