-# locals: project, site
= simple_form_for [project, site], html: {class: 'form-horizontal', multipart: true }, wrapper: :horizontal_form_full_width do |f|
  = field_set_tag do
    = f.error_notification
    .row
      .col-sm-7
        = f.input :name
        = f.input :description, input_html: {rows: '6', class: 'span12' }
        = f.input :latitude, input_html: { max: 90, min: -90 }
        = f.input :longitude, input_html: {  max: 180, min: -180 }
        = render partial: 'shared/image_upload', locals: { f: f,  model_instance: site, model_name: 'site' }
        = render partial: '/shared/time_zone_select_custom', locals: { f: f, attribute_name: :tzinfo_tz, model_name: :site, full_width: true }
      .col-sm-5
        = render partial: 'shared/google_maps', locals: {markers: []}
    = f.button :submit_cancel, 'Submit', class: 'btn-default'