.row-fluid.spacer
  = image_tag @site.image.url(:span3), class: 'span3'

  .span9
    %h1= @site.name
    %p= @site.description

- duration_sum = @site.audio_recordings.sum(:duration_seconds)
- recorded_min = @site.audio_recordings.minimum(:recorded_date)
- recorded_min = recorded_min.in_time_zone(@site.rails_tz) unless @site.rails_tz.blank?
- recorded_max = @site.audio_recordings.maximum(:recorded_date)
- recorded_max = recorded_max.in_time_zone(@site.rails_tz) unless @site.rails_tz.blank?
- recorded_diff = recorded_max - recorded_min
- last_added = @site.audio_recordings.maximum(:updated_at)

%h3
  Audio Recordings

.row-fluid
  .span6
    %p
      This site contains recordings from #{recorded_min.to_formatted_s(:readable_full_without_seconds)}
      to #{recorded_max.to_formatted_s(:readable_full_without_seconds)}.
    %p
      This site covers
      = distance_of_time recorded_diff
      and there are recordings for
      = distance_of_time duration_sum
      of that time.

    %ul.nav.nav-pills.nav-stacked{style: 'margin-bottom:0'}
      %li.text-center
        %a{href: "/visualize?siteId=#{@site.id}"}
          %i.fa.fa-eye
          Visualise

    %h4 Recent Annotations
    %ul.nav.nav-pills.nav-stacked{style: 'margin-bottom:0'}
      - AudioEvent.in_site(@site).each do |ae|
        %li
          = link_to "#{ae.updated_at.to_formatted_s(:readable_full_without_seconds)} by #{ae.updater.user_name}", ae.get_listen_path

  - if @site.latitude.blank? || @site.longitude.blank?
    .span6.map-placeholder
      %span.map-placeholder-text This site does not have a location set.
  - else
    .span6= gmaps(markers: {data: @site.to_gmaps4rails}, map_options: {zoom: 7, auto_zoom: true})
    = yield :scripts
  -#.span12
  -#  %h3 Recent Audio Recordings
  -#  %table.table.table-striped(data-provides='rowlink')
  -#    %thead
  -#      %tr
  -#        %th Recording Start Date
  -#        %th Duration
  -#        %th
  -#
  -#    %tbody
  -#    - @site.audio_recordings.order(recorded_date: :desc).first(10).each do |audio_recording|
  -#      %tr
  -#        %td= link_to audio_recording.recorded_date.to_formatted_s(:readable_full), "/listen/#{audio_recording.id}"
  -#        %td= "about #{distance_of_time_in_words(audio_recording.duration_seconds, 0, nil, {except: ['seconds']})}"
  -#        %td.nolink
  -#          = link_to "/listen/#{audio_recording.id}", target: '_self', class: 'btn btn-mini' do
  -#            %i{class: 'fa fa-play'}
  -#            Play


- content_for :right_sidebar do
  = render layout: '/shared/right_sidebar_user_times', locals: { item: @site } do
    - permission = current_user.get_permission(@project)
    - unless permission.blank?
      = sidebar_metadata('Your access level', permission.level)

- content_for :title, "Project #{@project.name} | Site #{@site.name}"

- content_for :left_sidebar do
  = render layout: '/shared/left_sidebar', locals: {title: 'Sites'} do
    - if can? :edit, @site
      %li= link_to 'Edit Site Details',edit_project_site_path(@project, @site),  title: "Change this site's details", data: {toggle: 'tooltip',  placement: 'right'}
    - if can? :destroy, @site
      %li= link_to 'Delete Site', [@project, @site], :method => :delete, data: { confirm: 'Are you sure?', toggle: 'tooltip',  placement: 'right' }, title: 'Delete site'
    -# if can? :edit, @project
      %li= link_to 'Add New Site', new_project_site_path(@project),  title: "Add a new site to this project", data: {toggle: 'tooltip',  placement: 'right'}
    - if can? :edit, @site
      %li= link_to 'Upload Audio', upload_instructions_project_site_path(@project, @site),  title: "Upload new audio to this site", data: {toggle: 'tooltip',  placement: 'right'}
    - if can? :show, @site
      %li= link_to 'Annotations (csv)', "#{data_request_path}?annotation_download[project_id]=#{@project.id}&annotation_download[site_id]=#{@site.id}&annotation_download[name]=#{CGI::escape(@site.name)}",  title: "Download annotations for this site", data: {toggle: 'tooltip',  placement: 'right'}
      %li= link_to 'Visualise', "/visualize?siteId=#{@site.id}", title: 'Visualise and browse the audio in this site', data: {toggle: 'tooltip',  placement: 'right'}
