.row-fluid.spacer
  = image_tag @site.image.url(:span3), class: 'span3'

  .span9
    %h1= @site.name
    %p= @site.description


- unless @site.audio_recordings.blank?
  .row-fluid
    .span12
      %h3= 'Audio Recordings'

      = page_entries_info @site_audio_recordings
      = will_paginate @site_audio_recordings

      %table.table.table-striped(data-provides='rowlink')
        %thead
          %tr
            %th Recording Start Date
            %th Duration
            %th

        %tbody
        - @site_audio_recordings.each do |audio_recording|
          %tr
            %td= link_to audio_recording.recorded_date.to_formatted_s(:readable_full), "/listen/#{audio_recording.id}"
            %td= "about #{distance_of_time_in_words(audio_recording.duration_seconds, 0, nil, {except: ['seconds']})}"
            %td.nolink
              = link_to "/listen/#{audio_recording.id}", target: '_self', class: 'btn btn-mini' do
                %i{class: 'fa fa-play'}
                Play

.row-fluid
  .span12
    - if @site.latitude.blank? || @site.longitude.blank?
      %p This site does not have a location set.
    - else
      = gmaps(markers: {data: @site.to_gmaps4rails},
      map_options: gmaps_default_options)

      = yield :scripts


- content_for :right_sidebar do
  = render layout: '/shared/right_sidebar_user_times', locals: { item: @site } do
    - permission = current_user.get_permission(@project)
    - unless permission.blank?
      = sidebar_metadata('Your access level', permission.level)

- content_for :title, "Project #{@project.name} | Site #{@site.name}"

- content_for :left_sidebar do
  = render layout: '/shared/left_sidebar', locals: {title: 'Sites'} do
    - if can? :edit, @project
      %li= link_to 'Edit Site',edit_project_site_path(@project, @site),  title: "Edit site's details", data: {toggle: 'tooltip',  placement: 'right'}
    - if can? :destroy, @project
      %li= link_to 'Delete Site', [@project, @site], :method => :delete, data: { confirm: 'Are you sure?', toggle: 'tooltip',  placement: 'right' }, title: 'Delete site'
    - if can? :edit, @project
      %li= link_to 'Add New Site', new_project_site_path(@project),  title: "Add a new site to this project", data: {toggle: 'tooltip',  placement: 'right'}
    - if current_user.has_role? :admin
      %li= link_to 'Upload Audio', upload_instructions_project_site_path(@project, @site),  title: "Upload new audio to this site", data: {toggle: 'tooltip',  placement: 'right'}
    - if can? :read, @project
      %li= link_to 'Annotations (csv)', "#{data_request_path}?annotation_download[project_id]=#{@project.id}&annotation_download[site_id]=#{@site.id}&annotation_download[name]=#{CGI::escape(@site.name)}",  title: "Download annotations for this site", data: {toggle: 'tooltip',  placement: 'right'}