%h1 Ethics Statement

%p
  %em
    Comming soon...

- content_for :title, 'Ethics Statement'

- content_for :left_sidebar do
  = render layout: '/shared/left_sidebar', locals: {title: 'General'} do
    %li= link_to 'Contact Us', contact_us_path,  title: 'Contact Us', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Website Status', website_status_path,  title: 'Website activity and totals', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Bug Report', bug_report_path,  title: 'Report a problem', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Data Request', data_request_path,  title: 'Request access to particular data', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Disclaimers', disclaimers_path,  title: 'Disclaimers', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Credits', credits_path,  title: 'Third party software we use', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Ethics Statement', ethics_statement_path,  title: 'View our ethics statement', data: {toggle: 'tooltip',  placement: 'right'}