- content_for :meta_title, t('baw.shared.links.home.title')
- content_for :page_title, Settings.organisation_names.site_long_name

- if partial_exists?('public/home')
  = render partial: 'public/home'
- else
  %p
    Welcome! This is an Acoustic Workbench website. It is a repository of environmental audio recordings.


- unless @selected_images.blank?
  .row
    .col-sm-4.text-center
      %strong
        = "1) #{@selected_images[:animal]['commonName']} Sound"
      %img.thumbnail.center-block{src: "#{@selected_images[:image_base]}#{@selected_images[:animal]['baseName'].html_safe+'.jpg'}",
        alt: "Image of #{@selected_images[:animal]['commonName']}", style: 'width:100%; max-height: 250px; margin-bottom:5px;' }
      %small
        Faunal vocalisations and other human-audible environmental sounds
      %br/
      %small.text-muted
        Photo Source:
        %a{href: @selected_images[:animal]['animalImageSourceLink'], rel: 'nofollow'}= @selected_images[:animal]['animalImageSourceName']

    .col-sm-3.text-center
      %strong
        2) Acoustic Sensor
      %img.thumbnail.center-block{src: @selected_images[:sensor_tree],
        alt: 'An acoustic sensor attached to a tree.', style: 'width:100%; margin-bottom:5px;' }
      %small
        Acoustic sensors record sound in a wide range of environments

    .col-sm-5.text-center
      %strong
        3) Annotated Spectrogram
      %img.thumbnail.center-block{src: @selected_images[:example_spectrogram],
        alt: 'Annotated Spectrogram.', style: 'width:100%; margin-bottom:5px;' }
      %small
        Practical identification of animal sounds by people and automated detectors. Ecologists use these to answer environmental questions.

%br

- if current_user.blank?
  - msg_text = 'You can browse some public projects and audio recordings without logging in. To participate in the analysis work you will need to '
  - msg_text += link_to t('devise.shared.links.sign_in'), new_user_session_path, class: 'alert-link'
  - msg_text += ' with an existing account or '
  - msg_text += link_to t('devise.shared.links.sign_up'), new_user_registration_path, class: 'alert-link'
  - msg_text += ' for a new account.'
  = render partial: 'shared/alert', locals: { msg_type: :notice, msg_text: msg_text.html_safe }

- elsif can? :index, Project
  - msg_text = 'To begin, have a look at the '
  - msg_text += link_to t('baw.shared.links.projects.title'), projects_path, class: 'alert-link'
  - msg_text += ' that are available to you. You can contribute to the analysis work by exploring audio recordings in a site.'
  = render partial: 'shared/alert', locals: { msg_type: :notice, msg_text: msg_text.html_safe }

- unless @random_projects.blank?
  %h3 Some of the projects you can access
  .row
    -  @random_projects.each do |project|
      .col-sm-4
        .thumbnail.project_thumbnail
          %a{href: project_path(project), style: 'width:100%;'}
            %img{src: project.image.url(:span3), alt: project.name}/
          .caption
            %h4{style: 'margin-top:0'}
              %a{href: project_path(project)}= project.name
            %p= truncate(project.description, length: 75)

  .row
    .pull-right
      = link_to "More projects...", projects_path