%h1 Contact Us

%p
  This form is for general enquiries. We have separate forms to
  =link_to 'request data', data_request_path
  or
  =link_to 'report issues', bug_report_path
  ="."

%br

= simple_form_for @contact_us, url: '/contact_us', html: {class: 'form-horizontal' } do |f|
  = f.error_notification

  .row-fluid
    .span12.form-inputs
      = f.input :name,  label: 'Your Name'
      = f.input :email,  label: 'Contact Email'
      = f.input :content, as: :text,  input_html: {rows: '8',style: 'width:100%'}, label: 'Message'
      - if @contact_us.errors.include?(:recaptcha) && @contact_us.errors[:recaptcha].size > 0
        .control-group.string.required.contact_us_recaptcha.error
          %label.string.required.control-label{for: :contact_us_recaptcha}
            Human Test
            %small (required)
          .controls
            = recaptcha_tags({display: {theme: 'clean'}})
            %span.help-inline
              = @contact_us.errors[:recaptcha][0]
      - else
        .control-group.string.required.contact_us_recaptcha
          %label.string.required.control-label{for: :contact_us_recaptcha}
            Human Test
            %small (required)
          .controls
            %span.help-inline
              We need to know that you're human.
            = recaptcha_tags({display: {theme: 'clean'}})



  .form-actions
    = f.button :submit, 'Submit'

- content_for :title, 'Contact Us'