- content_for :title, 'Report Problem'

= render partial: 'shared/sidebar_public'

%p
  Complete the form below to report a problem. Alternatively, we have a
  %a{href: Settings.organisation_names.github_issues_url} Github Issues
  page.

%br

= simple_form_for @bug_report, url: '/bug_report', html: {class: 'form-horizontal', method: :post } do |f|
  = field_set_tag do
    = f.error_notification
    = f.input :name, label: 'Your Name'
    = f.input :email, label: 'Contact Email'
    = f.input :date, label: 'Date issue occurred', as: :string, order: [:year, :month, :day], input_html: {value: @bug_report.date}
    = f.input :description, as: :text, input_html: {rows: '4',style: 'width:100%'}, label: 'Steps to reproduce issue'
    = f.input :content, as: :text, input_html: {rows: '7',style: 'width:100%'}, label: 'What do you expect to happen? What actually happens?'
    = render partial: 'shared/recaptcha', locals: {data_item: @bug_report, data_item_name: 'bug_report'}
    = f.button :submit_cancel, 'Submit', class: 'btn-default'

:javascript
  $('#bug_report_date').datepicker({format: 'yyyy/mm/dd'});
