- content_for :title, 'Data Request'

= render partial: 'shared/sidebar_public'

- unless @annotation_download.blank?
  %h4
    The CSV file containing annotations for
    =@annotation_download[:name]
    will download shortly.
  %p
    Some downloads might take a minute or two to be generated. If it does not download after a short time, click
    %a{href: @annotation_download[:link]} here
    ='.'
    If you need more data or a different format, please submit a request using this form.
  %iframe{width:1, height:1, frameborder:0, src:@annotation_download[:link]}
- else
  %p Use this form to request annotations or other data related to the audio recordings on this website.

  %br

= simple_form_for @data_request, url: '/data_request', html: {class: 'form-horizontal' } do |f|
  = field_set_tag do
    = f.error_notification
    = f.input :name, label: 'Your Name'
    = f.input :email, label: 'Contact Email'
    = f.input :group, label: 'Organisation'
    = f.input :group_type, label: 'Organisation Type', include_blank: false
    = f.input :content, label: 'Request details (include Projects/Sites, dates/times)', as: :text, input_html: {rows: '8',style: 'width:100%'}
    = render partial: 'shared/recaptcha', locals: {data_item: @data_request, data_item_name: 'data_request'}
    = f.button :submit_cancel, 'Submit', class: 'btn-default'

