- content_for :title, 'Contact Us'
- @info_bar = {title: t('baw.shared.links.home.title'),  icon: 'home'}

%p
  This form is for general enquiries. We have separate forms to
  =link_to 'request data', data_request_path
  or
  =link_to 'report issues', bug_report_path
  ="."

%br

= simple_form_for @contact_us, url: '/contact_us', html: {class: 'form-horizontal' } do |f|
  = field_set_tag do
    = f.error_notification
    = f.input :name,  label: 'Your Name'
    = f.input :email,  label: 'Contact Email'
    = f.input :content, as: :text,  input_html: {rows: '8',style: 'width:100%'}, label: 'Message'
    = render partial: 'shared/recaptcha', locals: {data_item: @contact_us, data_item_name: 'contact_us', data_action: 'contact_us'}
    = f.button :submit_cancel, 'Submit', class: 'btn-default'
