%h1 Issue Report

= simple_form_for @bug_report, url: '/bug_report', html: {class: 'form-horizontal' } do |f|
  = f.error_notification

  .row-fluid
    .span12.form-inputs
      .control-group.string.github_link
        %label.string.control-label{for: :github_link}
        .controls
          %span.help-inline
            Complete the form below to report a problem. Alternatively, we have a
            %a{href: Settings.organisation_names.github_issues_url} Github Issues
            page.
      = f.input :name, label: 'Your Name'
      = f.input :email, label: 'Contact Email'
      = f.input :date, label: 'Date issue occurred', as: :string, order: [:year, :month, :day], input_html: {value: @bug_report.date}
      = f.input :description, as: :text, input_html: {rows: '4',style: 'width:100%'}, label: 'Steps to reproduce issue'
      = f.input :content, as: :text, input_html: {rows: '7',style: 'width:100%'}, label: 'What do you expect to happen? What actually happens?'
      - if @bug_report.errors.include?(:recaptcha) && @bug_report.errors[:recaptcha].size > 0
        .control-group.string.required.bug_report_recaptcha.error
          %label.string.required.control-label{for: :bug_report_recaptcha}
            Human Test
          .controls
            = recaptcha_tags({display: {theme: 'clean'}})
            %span.help-inline
              = @bug_report.errors[:recaptcha][0]
      - else
        .control-group.string.required.bug_report_recaptcha
          %label.string.required.control-label{for: :bug_report_recaptcha}
            Human Test
          .controls
            %span.help-inline
              We need to know that you're human.
            = recaptcha_tags({display: {theme: 'clean'}})



  .form-actions
    = f.button :submit, 'Submit'

- content_for :title, 'Bug Report'

- content_for :left_sidebar do
  = render layout: '/shared/left_sidebar', locals: {title: 'General'} do
    %li= link_to 'Contact Us', contact_us_path,  title: 'Contact Us', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Website Status', website_status_path,  title: 'Website activity and totals', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Bug Report', bug_report_path,  title: 'Report a problem', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Data Request', data_request_path,  title: 'Request access to particular data', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Disclaimers', disclaimers_path,  title: 'Disclaimers', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Credits', credits_path,  title: 'Third party software we use', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Ethics Statement', ethics_statement_path,  title: 'View our ethics statement', data: {toggle: 'tooltip',  placement: 'right'}

:javascript
  $('#bug_report_date').datepicker({format: 'yyyy/mm/dd'});
