- content_for(:left_sidebar) do
  %li= link_to t('baw.shared.links.home.title'), root_path,  title: t('baw.shared.links.home.description'), data: {toggle: 'tooltip',  placement: 'right'}
  - if current_user.blank?
    %li= link_to t('devise.shared.links.sign_in'), new_user_session_path, title: t('devise.shared.links.sign_in'), data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to t('devise.shared.links.sign_up'), new_user_registration_path, title: t('baw.shared.links.register.description'), data: {toggle: 'tooltip',  placement: 'right'}
  -  if can? :index, Project
    %li= link_to t('baw.shared.links.projects.title'), projects_path, title: t('baw.shared.links.projects.description'), data: {toggle: 'tooltip',  placement: 'right'}
  - unless current_user.blank?
    %li= link_to t('baw.shared.links.profile.title'), my_account_path, title: t('baw.shared.links.profile.description'), data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to t('baw.shared.links.annotations.title'), audio_events_user_account_path(current_user), title: t('baw.shared.links.annotations.description'), data: {toggle: 'tooltip',  placement: 'right'}
  %li= link_to t('baw.shared.links.data_request.title'), data_request_path,  title: t('baw.shared.links.data_request.description'), data: {toggle: 'tooltip',  placement: 'right'}
  %li= link_to t('baw.shared.links.upload_audio.title'), data_upload_path,  title: t('baw.shared.links.upload_audio.description'), data: {toggle: 'tooltip',  placement: 'right'}
  %li= link_to t('baw.shared.links.report_problem.title'), bug_report_path,  title: t('baw.shared.links.report_problem.description'), data: {toggle: 'tooltip',  placement: 'right'}
  %li= link_to t('baw.shared.links.website_status.title'), website_status_path,  title: t('baw.shared.links.website_status.description'), data: {toggle: 'tooltip',  placement: 'right'}

= render template:'layouts/application'