- content_for :left_sidebar do
  = render layout: '/shared/left_sidebar', locals: {title: 'General'} do
    %li= link_to 'Home', root_path,  title: 'Home page', data: {toggle: 'tooltip',  placement: 'right'}
    - if current_user.blank?
      %li= link_to 'Login', new_user_session_path, title: 'Sign in', data: {toggle: 'tooltip',  placement: 'right'}
      %li= link_to 'Sign up', new_user_registration_path, title: 'Create an account', data: {toggle: 'tooltip',  placement: 'right'}
    -  if can? :index, Project
      %li= link_to 'Projects', projects_path, title: 'View the projects you can access', data: {toggle: 'tooltip',  placement: 'right'}
    - unless current_user.blank?
      %li= link_to 'Your Profile', my_account_path, title: 'View your profile', data: {toggle: 'tooltip',  placement: 'right'}
      %li= link_to 'Your Annotations', audio_events_user_account_path(current_user), title: 'View your recent annotations', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Contact Us', contact_us_path,  title: 'Contact Us', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Report Problem', bug_report_path,  title: 'Report a problem', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Data Request', data_request_path,  title: 'Request access to particular data', data: {toggle: 'tooltip',  placement: 'right'}
    %li= link_to 'Statistics', website_status_path,  title: 'Annotation and audio recording stats', data: {toggle: 'tooltip',  placement: 'right'}
    -# %li= link_to 'Recording Catalogue', audio_recording_catalogue_path,  title: 'Catalogue of all audio recordings by date', data: {toggle: 'tooltip',  placement: 'right'}

= render template: 'layouts/application'